# Node
node_modules/
**/node_modules/

# Build output
dist/
build/
coverage/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp

# Misc caches
.cache/
.pnp/
.parcel-cache/